# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = yang_spider.settings

[deploy]
url = http://192.168.10.58:6800/api/scrapyd
project = yang_spider
